@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Titillium+Web:wght@200&family=Ubuntu:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

.contanier {
    background-color: #D4FF00;
    height: 100px;
}

#headlogo{
    margin-top: 15px;
    margin-left: 37%;
}

h3 {
   text-align: center;
   font-family: 'Ubuntu', sans-serif;
   margin-top: -60px;
   margin-left: 30px;
   letter-spacing: 1px;
   font-size: 28px;
}

h2{
    text-align: center;
    margin-top: 8px;
    margin-left: 30px;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    letter-spacing: 0.5px;
}

#box{
    background-color: #016b80;
    height: 950px;
}

h1{
    margin-left: 520px;
    width: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    padding: 20px 0px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
#logo{
    margin: 40px 0px 0px 200px;
}

#aboutus {
    margin-top: -250px;
    margin-left: 550px;
    margin-right: 100px;
    padding: 20px 50px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    line-height: 35px;
    font-size: 18px;
    text-align: justify;
}

#aboutusinfo{
    background-color: #234146;
    margin-top: 100px;
    margin-left: 100px;
    width: 1000px;
    height: 360px;
    border: 2px solid black;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 25px 55px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    line-height: 35px;
    font-size: 15px;
    text-align: justify;
}

#callnow a {
    display: block;
    background-color: #016b80;
    border: 2px solid black;
    width: 140px;
    padding: 12px 10px;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
    margin: -80px 0px 50px 44%;
    border-radius: 25px;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#callnow a:hover {
    background-color: white;
    color: #016b80;
}

.img-contanier{
    display: flex;
    align-items: center;
    justify-content: center;
}
 #img{
    margin: 150px 10px 0px 10px;
    border: 2px solid black;
}

.imgtable .description {
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px 0px 0px 10px;
    border: 2px solid black;
    text-align: justify;
    padding: 20px 10px;
    width: 230px;
    color: white;
    line-height: 25px;
}

#box1{
    background-color: #016b80;
    height: 1200px;
}



